{% extends 'home.html' %}


{% block content %}

    {#            面板开始  #}
    <div class="panel panel-primary">
              <div class="panel-heading ">
                <h3 class="panel-title">图书管理系统 <span class="glyphicon glyphicon-book pull-right"></span></h3>
              </div>
      <div class="panel-body">



            <div class="panel-body">
                                        <form action="" method="post" class="form-horizontal">
                                            <p>
                                                出版社名称：<input type="text" class="form-control" name="publish_name" placeholder="出版社名称">
                                            </p>
                                            <p>
                                                地址：<input type="text" class="form-control" name="publish_addr" placeholder="地址">
                                            </p>
                                            <br>
                                            <p>
                                                <input type="submit" value="提交" class="btn-success btn">
                                            </p>
                                        </form>



                    </div>

{% endblock %}