<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>

{#导航条#}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/book_list/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/publisher_list/">出版社列表</a></li>
        <li><a href="/author_list/">作者列表</a></li>
        <li class="dropdown"></li>
      </ul>
      <form class="navbar-form navbar-left">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login/">登录 / 注册</a></li>
        <li class="dropdown">
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

                                <div class="panel panel-primary">
                          <div class="panel panel-heading panel-primary text-center ">添加出版社
                                    <span class="glyphicon glyphicon-book pull-right"></span>
                          </div>

                                    <div class="panel-body">
                                        <form action="" method="post" class="form-horizontal">
                                            <p>
                                                出版社名称：<input type="text" class="form-control" name="publisher_name" placeholder="出版社名称">
                                            </p>
                                            <p>
                                                <input type="submit" value="提交" class="btn-success btn">
                                            </p>
                                        </form>



                                    </div>
                    </div>

        </div>
    </div>
</div>
</body>
</html>