{% extends 'book_list.html' %}


{% block panel %}



    <div class="panel-body">
                                        <form action="" method="post" class="form-horizontal">
                                            <p>
                                                图书名称：<input type="text" class="form-control" name="book_name" placeholder="图书名称">
                                            </p>
                                            <p>
                                                图书价格：<input type="text" class="form-control" name="book_price" placeholder="图书价格">
                                            </p>
                                            <p>
                                                所属出版社：
                                                <select name="publish_id" class="form-control">
                                                    <option value="--请选择出版社--" selected="selected">--请选择出版社--</option>
                                                    {% for publish_obj in publish_list %}
                                                            <option value="{{ publish_obj.id }}">{{ publish_obj.name }}</option>
                                                    {% empty %}
                                                        <option>没有出版社</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                            <p>
                                                作者：
                                                <select name="author_id" class="form-control" multiple>
{#                                                    <option value="--请选择作者--" selected="selected">--请选择作者--</option>#}
                                                    {% for author_obj in author_list %}
                                                            <option value="{{ author_obj.id }}">{{ author_obj.name }}</option>
                                                    {% empty %}
                                                            <option>没有作者</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                            <br>
                                            <p>
                                                <input type="submit" value="提交" class="btn-success btn">
                                            </p>
                                        </form>



                                    </div>

{% endblock %}