{% extends 'book_list.html' %}

{% block table %}
    <!--新增按钮-->
    <a href="{% url 'add_author' %}" class="btn btn-success pull-right">新增</a>

    <br>
    <br>
    <table class="table-hover table table-bordered table-striped">
        <thead>
        <tr>
            <th>序号</th>
            <th>作者名字</th>
            <th>作者名字</th>
            <th>更多信息</th>
            <th>操作</th>

        </tr>

        </thead>


        <tbody>
        {% for author_obj in author_querylist %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author_obj.name }}</td>
                <td>{{ author_obj.email }}</td>
                {#                            <td>{{ publish_obj.book_set.all }}</td>#}
{#                <td>#}
{#                    {% for book in publish_obj.book_set.all %}#}
{#                        {% if forloop.last %}#}
{#                            <span>"{{ book.title }}"</span>#}
{#                        {% else %}#}
{#                            <span>"{{ book.title }}",</span>#}
{#                        {% endif %}#}
{#                    {% empty %}#}
{#                        <span>暂无书籍!</span>#}
{#                    {% endfor %}#}
{##}
{#                </td>#}

                <td>
                    <a href="#" class="btn btn-primary">编辑</a>
{#        <a href="{% url 'delete_publish' publish_obj.pk %}" onclick="return confirm('是否要删除？')" class="btn btn-danger">删除</a>#}
                    <a href="#" class="btn btn-danger del" delete_id="{{ author_obj.id }}">删除</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <h3>暂无出版社！</h3>
            </tr>

        {% endfor %}
        </tbody>


    </table>


<script>
    $(".del").click(function () {
        {#先拿到当前被点击的对象#}
        var $btn = $(this);
        {#去找删除按钮效果代码 #}
        swal({
                title: "你确定?",
                text: "你如果删除了，你就准备跑路吧",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false,
                {#让操作有个延时的...的操作#}
                showLoaderOnConfirm: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    {#朝后端发送ajax请求 做一些操作#}
                    $.ajax({
                        url:'',
                        type:'post',
                        data:{'delete_id':$btn.attr('delete_id')},
                        success:function (data) {
                            if (data.code==200){
                                swal("准备跑路吧", data.msg, "success");
                                {#通过DOM操作，操作标签 移除标签#}
                                $btn.parent().parent().remove()

                            } else {
                                swal("Error", "出现了未知Bug", "warning");
                            }
                        }
                    });
                } else {
                    swal("取消", "我怂了)", "error");
                }
            });
    })
</script>


{% endblock %}
