{% extends 'home.html' %}


{% block content %}
    <style>
    div.sweet-alert h2 {
        padding: 10px;
    }
    </style>

    {#            面板开始  #}
    <div class="panel panel-primary">
        <div class="panel-heading ">
            <h3 class="panel-title">图书管理系统 <span class="glyphicon glyphicon-book pull-right"></span></h3>
        </div>
        <div class="panel-body">
            {% block panel %}
                <!--搜索按钮-->
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">搜索</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="搜索">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">搜索</button>
                    {% block table %}
                        <!--新增按钮-->
                        <a href="{% url 'add_book' %}" class="btn btn-success pull-right">新增</a>
                        </form>

                        <br>


                        {#                表格开始#}



                        <table class="table-hover table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>书名</th>
                                <th>价格</th>
                                <th>发布日期</th>
                                <th>出版社</th>
                                <th>作者</th>
                                <th class="text-center">操作</th>
                            </tr>

                            </thead>


                            <tbody>
                            {% for book_obj in page_queryset %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ book_obj.title }}</td>
                                    <td>{{ book_obj.price }}</td>
                                    <td>{{ book_obj.publish_date|date:'Y-m-d' }}</td>
                                    <td>{{ book_obj.publish.name }}</td>
                                    <td>
                                        {% for book in book_obj.authors.all %}
                                            {% if forloop.last %}
                                                <span>{{ book.name }}</span>
                                            {% else %}
                                                <span>{{ book.name }},</span>
                                            {% endif %}
                                        {% endfor %}

                                    </td>

                                    <td class="text-center">
                                        <a href="{% url 'edit_book' book_obj.id %}" class="btn btn-primary">编辑</a>
                                        {#                                <a href="#" onclick="return confirm('是否要删除？')" class="btn btn-danger">删除</a>#}
                                        {#                                <a href="{% url 'delete_book' book_obj.pk %}" onclick="return confirm('是否要删除？')" class="btn btn-danger">删除</a>#}
                                        {#                                添加一个属性#}
                                        <a href="#" class="btn btn-danger del" delete_id="{{ book_obj.id }}">删除</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <h3>暂无书籍！，请添加书籍</h3>
                                </tr>

                            {% endfor %}
                            </tbody>


                        </table>
                        {#      表格结束#}
                    {% endblock %}

                {#                                分页开始#}
                <span class="text-center">{{ page_obj.page_html|safe }}</span>
                {#                                    分页结束#}
            {% endblock %}

        </div>
    </div>
    {#            面板结束  #}


<script>
    $(".del").click(function () {
        {#先拿到当前被点击的对象#}
        var $btn = $(this);
        {#去找删除按钮效果代码 #}
        swal({
                title: "你确定?",
                text: "你如果删除了，你就准备跑路吧",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
                closeOnConfirm: false,
                closeOnCancel: false,
                {#让操作有个延时的...的操作#}
                showLoaderOnConfirm: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    {#朝后端发送ajax请求 做一些操作#}
                    $.ajax({
                        url:'',
                        type:'post',
                        data:{'delete_id':$btn.attr('delete_id')},
                        success:function (data) {
                            if (data.code==200){
                                swal("准备跑路吧", data.msg, "success");
                                {#通过DOM操作，操作标签 移除标签#}
                                $btn.parent().parent().remove()

                            } else {
                                swal("Error", "出现了未知Bug", "warning");
                            }
                        }
                    });
                } else {
                    swal("取消", "我怂了)", "error");
                }
            });
    })
</script>

{% endblock %}

