{% extends 'home.html' %}


{% block content %}

    {#            面板开始  #}
            <div class="panel panel-primary">
              <div class="panel-heading ">
                <h3 class="panel-title">图书管理系统 <span class="glyphicon glyphicon-book pull-right"></span></h3>
              </div>



              <div class="panel-body">

                        <div class="panel-body">
                                        <form action="" method="post" class="form-horizontal">
                                            <p>
                                                出版社名称：<input type="text" class="form-control" name="publish_name" value="{{ publish_obj.name }}">
                                            </p>
                                            <p>
                                                地址：<input type="text" class="form-control" name="publish_addr" value="{{ publish_obj.addr }}">
                                            </p>
{#                                            <p>#}
{#                                                出版书籍：#}
{#                                                <select name="book_id" class="form-control" multiple>#}
{#                                                    {% for book_obj in book_list %}#}
{#                                                        {% if book_obj in publish_obj.book_set.all %}#}
{#                                                            <option value="{{ book_obj.id }}" selected>{{ book_obj.title }}</option>#}
{#                                                        {% else %}#}
{#                                                            <option value="{{ book_obj.id }}">{{ book_obj.title }}</option>#}
{#                                                        {% endif %}#}
{#                                                    {% endfor %}#}
{#                                                </select>#}
{#                                            </p>#}
                                            <br>
                                            <p>
                                                <input type="submit" value="提交" class="btn-success btn">
                                            </p>
                                        </form>

                                    </div>





      </div>
      </div>
{% endblock %}