{% extends 'add_book.html' %}


{% block panel %}


        <div class="panel-body">
                                        <form action="" method="post" class="form-horizontal">
                                            <p>
                                                图书名称：<input type="text" class="form-control" name="book_name" value="{{ book_obj.title }}">
                                            </p>
                                            <p>
                                                图书价格：<input type="text" class="form-control" name="book_price" value="{{ book_obj.price }}">
                                            </p>
                                            <p>
                                                所属出版社：
                                                <select name="publish_id" class="form-control">
                                                    <option value="--请选择出版社--" selected="selected">--请选择出版社--</option>
                                                    {% for publish_obj in publish_list %}
                                                        {% if book_obj.publish == publish_obj %}
                                                            <option value="{{ publish_obj.id }}" selected>{{ publish_obj.name }}</option>
                                                        {% else %}
                                                            <option value="{{ publish_obj.id }}">{{ publish_obj.name }}</option>
                                                        {% endif %}
                                                    {% empty %}
                                                        <option>没有出版社</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                            <p>
                                                作者：
                                                <select name="author_id" class="form-control" multiple>
                                                    {% for author_obj in author_list %}
                                                        {% if author_obj in book_obj.authors.all %}
                                                            <option value="{{ author_obj.id }}" selected>{{ author_obj.name }}</option>
                                                        {% else %}
                                                            <option value="{{ author_obj.id }}">{{ author_obj.name }}</option>
                                                        {% endif %}
                                                    {% empty %}
                                                            <option>没有作者</option>
                                                    {% endfor %}
                                                </select>
                                            </p>
                                            <br>
                                            <p>
                                                <input type="submit" value="提交" class="btn-success btn">
                                            </p>
                                        </form>



                                    </div>

















{% endblock %}