
{% extends 'home.html' %}



{% block content %}
    {#            面板开始  #}
            <div class="panel panel-primary">
                                              <div class="panel panel-heading panel-primary text-center "><h4>欢迎登录</h4>
													<span class="glyphicon glyphicon-book pull-right"></span>
										  </div>

													<div class="panel-body">

														<form action="" method="post">
															<p>
																用户名：<input type="text" name="username" placeholder="用户名" class="form-control">
															</p>
															<p>
																密码：<input type="password" name="password" placeholder="密码" class="form-control">
															</p>
															<div class="pull-left">
																<input type="submit" value="提交" class="btn btn-primary">
															</div>
															<p class="pull-right">没有账号？<a href="{% url 'register' %}">立即注册</a></p>
														</form>

									  </div>
									</div>



{% endblock %}

