
{% extends 'home.html' %}


{% block content %}

    <style>
        .hide {
            display: none;
        }

    </style>
                <div class="panel panel-primary">
                          <div class="panel panel-heading panel-primary text-center "><h4>欢迎注册！</h4>
                                    <span class="glyphicon glyphicon-book pull-right"></span>
                          </div>

                                    <div class="panel-body">

                                        <form action="" method="post">
                                            <p>
                                                用户名：<input type="text" name="username" placeholder="用户名" class="form-control" id="d1">
                                                <span class="hide" style="color: red">用户名已存在</span>
                                            </p>
                                            <p>
                                                密码：<input type="password" name="password" placeholder="密码" class="form-control" id="d2">
                                            </p>
                                            <p>
                                                性别：
                                                <select name="gender" id="">
                                                    <option value="1">男</option>
                                                    <option value="2">女</option>
                                                </select>
                                            </p>
                                            <br>
                                            <p>
{#                                                <input type="submit" value="提交" class="btn btn-primary" id="d3">#}
                                                <button class="btn btn-primary" id="d3">提交</button>
                                            </p>
                                        </form>
{#                                         <p>#}
{#                                                <input type="submit" value="提交" class="btn btn-primary" id="d3">#}
{#                                                <button class="btn btn-primary" id="d3">提交</button>#}
{#                                            </p>#}



                      </div>
                    </div>
                                    <script>

                                    $('#d1').blur(function () {
                                        $.ajax({
                                            url:'',
                                            type:'post',
                                            data:{'username':$('#d1').val()},
                                            success:function (data) {
                                                res = JSON.parse(data);
                                                if (res['flag']) {
                                                    $('p>span').removeClass('hide')
                                                } else {
                                                    $('p>span').addClass('hide')
                                                }
                                            }
                                        })
                                    })
                                    </script>
{% endblock %}